header,
footer {
  background-color: hsla( 0, 0.0%, 18.8%, 1 );
  color: hsla( 0, 0.0%, 100.0%, 1 );
  padding: 5px;
}

h1 {
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: hsla( 0, 50.0%, 90.0%, 1 );
}

.main-content {
  background-color: hsla( 180, 50.0%, 90.0%, 1 );
}

.search input[type=submit] {

}

/*Sticky Footer CSS*/

html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  height: auto !important;
  height: 100%;
  margin: 0px 0px -41px 0px;
  min-height: 100%;
  width: 100%;
}

.footer-wrapper {
  height: 41px;
  width: 100%;
}

.content-wrapper {
  padding: 0px 0px 41px 0px;
  width: 100%;
}

.footer-inner-wrapper, .content-inner-wrapper {
  margin: 0px auto;
}

/* Sticky Footer CSS End*/
